Source: pam-param
Maintainer: Styopa Semenukha <ssemenukha@developmentgateway.org>
Section: admin
Priority: optional
Build-Depends:
 debhelper (>= 11),
 cmake (>= 2.8.11),
 make (>= 4),
 gcc (>= 8),
 libldap2-dev,
 libpam-dev
Standards-Version: 4.1.3
Homepage: https://github.com/devgateway/pam-param

Package: libpam-param
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: getauthorizedkeys
Description: PAM module for configurable LDAP account lookups
 This PAM module provides account service using configurable LDAP lookups. It's
 designed to look up role-based permissions in LDAP. It will determine DNs of
 the user and current host, then search for entries which have these DNs in
 their attributes, e.g. member. It also allows defining a search for super admin
 accounts which will have access to any host.

Package: libpam-param-test
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libpam-param
Description: Test utility for pam-param PAM module
 Account facility test utility for pam_param PAM module.
