Source: pam-param
Maintainer: Styopa Semenukha <ssemenukha@developmentgateway.org>
Section: admin
Priority: optional
Build-Depends:
 debhelper (>= 11),
 cmake (>= 2.8.11),
 make,
 gcc,
 libldap2-dev,
 libpam-dev
Standards-Version: 4.1.3
Homepage: https://github.com/devgateway/pam-param

Package: pam-param
Architecture: all
Depends: libpam, libldap2, ${misc:Depends}
Suggests: getauthorizedkeys
Description: PAM module for parametrized LDAP lookups
 This module allows for project-based authorization from LDAP.
